<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>ChatSystem</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Chat Room <%= room %></h1>
    <form class="row g-3 needs-validation" novalidate>
      
      <input type="text" id="message" placeholder="メッセージを入力" class="form-control" required=true>
      <div class="invalid-feedback">
        <label>テキストを入力してください</label>
      </div>
      <!-- <input type="submit" value="送信" class="btn btn-primary"> -->
      <button type="button" id="sendBtn" class="btn btn-primary">送信</button>
    </form>
    <div class="container">
      <ul id="messages" class="list-group"></ul>
    </div>
    
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script>

        var socket = io.connect();
        var name = getCookie('userID');
        var selectRoom = "<%= room %>";
        var entryMessage = name + 'さんが入室しました。';
        socket.emit('client_to_server_join', { value: selectRoom });
        socket.emit('client_to_server', { value: entryMessage });
        socket.emit('client_to_server_personal', { value: name });
        socket.on('server_to_client', function (data) {
            appendMsg(data.value);
        });
        function appendMsg(text) {
            $('#messages').prepend('<li class="list-group-item">' + text + '</li>');
        }

        $('#sendBtn').click(function (e) {
            var message = $('#message').val();
            $('#message').val('');
            if(message != ''){
              message = '[' + name + ']: ' + message;
              socket.emit('client_to_server', { value: message });
            }
        });

        function getCookie(name){
          var cookies = document.cookie.split(';');
          for(var i = 0;i < cookies.length;i++){
            var cookie = cookies[i].trim();
            if(cookie.startsWith(name + '=')){
              return cookie.substring(name.length + 1);
            }
          }
          return '';
        }
    </script>
  </body>
</html>
