<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChatSystem</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Chat Room <%= room %></h1>
    <input type="text" id="message" placeholder="メッセージを入力" />
    <button>送信</button>
    <ul id="messages"></ul>
    <script>

        var socket = io.connect(); // C02. ソケットへの接続
        var name = getCookie('userID');
        var selectRoom = "<%= room %>";
        var entryMessage = name + 'さんが入室しました。';
        socket.emit('client_to_server_join', { value: selectRoom });
        socket.emit('client_to_server', { value: entryMessage });
        socket.emit('client_to_server_personal', { value: name });
        // C04. server_to_clientイベント・データを受信する
        socket.on('server_to_client', function (data) {
            appendMsg(data.value);
        });
        function appendMsg(text) {
            $('#messages').append('<li>' + text + '</li>');
        }


        $('button').click(function (e) {
            var message = $('#message').val();
            $('#message').val('');
            message = '[' + name + ']: ' + message;
            // C03. client_to_serverイベント・データを送信する
            socket.emit('client_to_server', { value: message });
        });

        function getCookie(name){
          var cookies = document.cookie.split(';');
          for(var i = 0;i < cookies.length;i++){
            var cookie = cookies[i].trim();
            if(cookie.startsWith(name + '=')){
              return cookie.substring(name.length + 1);
            }
          }
          return '';
        }

    </script>
  </body>
</html>
