<!DOCTYPE html>
<html>
  <head>
    <title>ChatSystem</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ChatSystem</h1>
    <h2>Room List</h2>

    <h2></h2>
    <ul>
      <% roomList.forEach(room => { %>
        <li>
          <a href="/chat/<%= room.roomId %>">
            <%= room.title %>
          </a>
        </li>
      <% }); %>
    </ul>
  </body>
</html>
